body {
  overflow: hidden;
}

.container__content{

  width: 100%;
  height: 100vh;

  margin-top: 20px;

  display: flex;
  flex-direction: column;

  align-items: center;

}

.content__cover > img{
  width: 500px;
  min-width: 500px;
  height: 300px;
}

.content__description > p{
  margin-top: 1rem;
  color: rgb(198, 197, 197);
}

.textContent {
  width: 80vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1rem auto;
}

.text-formated {
  width: 100%;
  content: contain;
  overflow: visible;
  word-wrap: break-word;
}
