<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card
      Id="1"
      photoCover="https://logowik.com/content/uploads/images/angular9826.logowik.com.webp"
      cardTitle="Explore o Poder do Angular: Dicas e Tutoriais para Desenvolvedores Web Modernos"
      cardDescription="Domine o Angular: Dicas e Tutoriais para Acelerar seu Desenvolvimento Web. Descubra como o Angular pode tornar a criação de aplicativos web incríveis e responsivos mais fácil do que nunca. Explore nosso blog para insights valiosos e orientações práticas."
      >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      cardTitle="Data Binding em Angular: Conectando Dados e Interfaces de Usuário de Forma Eficiente"
      photoCover="https://miro.medium.com/v2/resize:fit:720/format:webp/1*Fh4Q2VbTa1-ErTjcP7gHIw.jpeg"
    >
    </app-small-card>

    <app-small-card
      Id="4"
      cardTitle="Guia Passo a Passo: Como Instalar o Angular em Seu Ambiente de Desenvolvimento"
      photoCover="https://media.licdn.com/dms/image/C4D12AQEKZ37zYCCCMw/article-cover_image-shrink_423_752/0/1556839799066?e=1700697600&v=beta&t=pKmcvP1K4PLUxgG4VCLobOuzD7XEBNZAWEpsmo6h7uI"
    >
    </app-small-card
    >

    <app-small-card
      Id="5"
      cardTitle="Dominando a Criação de Componentes em Angular"
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR523Dib2l2jBbIm8tfztBK_xTAx7gPqo_bnQ&usqp=CAU"
    >
    </app-small-card>
  </div>
</div>
