.container__menu-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80vw;
  padding: 1rem;
}

.title {
  width: 50%;
}

.title-blog {
  text-transform: uppercase;
}

.menu-links > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}

.menu-links > ul > li{
  margin-right: 1.1rem;
  list-style: none;
  padding: 0.7rem;
  border: 1px solid black;
  border-radius: 5px;
}

